.main {
    display: flex;
}
.container {
    padding: 20px;
    background-color: rgb(163, 163, 163);
}
.user-carf {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}